*{
    margin: 0%;
    padding: 0%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
article{
    font-size: 120%;
    border: 1px solid;
    background-color: aquamarine;
}
 a:link, a:visited
                {
                    background-color: blue;
                    border: 2px solid;
                    color: black;
                    width: 100px;
                    text-decoration: none;
                }
                a:hover
                {
                    background-color: purple;
                    color:white;
                    border: 2px solid;
                }
                a:active
                {
                    background-color: yellow;
                    color: black;
                    border: 2px solid;
                }
                #one{
                    background-color: aquamarine;
                }
                #two{
                    background-color: coral;
                }
                #three{
                    background-color: darkblue;
                    color: aliceblue;
                }
                #four{
                    background-color: blueviolet;
                    color: bisque;
                }
                #five{
                    background-color: gold;
                }
                h1{
                    text-align: center;
                    font-size: 22px;
                }
                .back{
                    font-style: italic;
                }
                h3{
                    text-align: center;
                }
                article{
                    font-size: 120%;
                }
                h3{
                    font-size: 120%;
                }
                .z{
                    font-weight: bold;
                }
                .u{
                    text-transform: uppercase;
                }
