*{
    margin: 0%;
    padding: 0%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h1{
    font-size: 20px;
}
.back{
    font-style: italic;
}
h2{
    font-size: 1.5em;
}
.img1{
    font-size: 1.05em;
}
.img2{
    font-size: 1.95em;
}
.img3{
    font-size: 2.535em;
}
img{
   display: 0px auto;
   width: 100%;
   height:90%;
}
