*{
    margin: 0%;
    padding: 0%;
}

.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

h1{
    font-size: 20px;
}
.back{
    font-style: italic;
}
h2{
    font-size: 10px;
}
.img1{
    font-size: 7px;
}
.img2{
    font-size: 13px;
}
.img3{
    font-size: 16.9px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
